@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

#all_medicines {
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    background-color: #ebf6f9;
    padding: 2% 2% 2% 8%;
}

#all_medicines span {
    color: #30819c;
    display: block;
}

#all_medicines span:first-child {
    font-size: 1em;
}

#all_medicines span:last-of-type {
    font-size: 0.75em;
}


/* //! ABCD to select categories */
#abcd {
    width: 93%;
    padding: 0.5% 1%;
    margin-top: 3%;
    background-color: white;
}

#abcd a {
    padding: 0 1%;
    font-size: 0.9em;
    border-right: 1px solid;
    text-decoration: none;
}

#abcd a:last-child {
    border: none;
}


/* //! All categories */
#all_categories {
    columns: 4;
}