@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#heading {
    color: gray;
    font-size: 1em;
    text-align: center;
}

/* //! product_shop by category */
#product_shop_category {
    width: 100%;
    padding: 0.5% 2% 2% 2%;
    margin: 0 auto;
    margin-bottom: 2.5%;
    background: linear-gradient(white, #f2f2f2);
}

#product_shop_category>div {
    width: 100%;
    display: flex;
    align-items: center;
}

#product_shop_category>p {
    color: #1e5162;
    font-weight: 500;
    margin: 1% 0;
    font-family: "Ubuntu", sans-serif;
}

#product_shop_category img {
    width: 30%;
}

#product_shop_category #products {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    grid-template-rows: 32rem 32rem;
    gap: 1.5rem;
    padding: 1.7rem;
    margin-left: 5%;
    border: 3px solid;
    border-radius: 5px;
}

#products .box {
    position: relative;
    display: block;
    line-height: 1;
    padding: 1%;
    margin: 0 1%;
    border-radius: 8px;
    background-color: white !important;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px #f2f2f2;
}

#product_shop_category .box img {
    display: block;
    width: 95%;
    padding: 2rem;
    margin: auto;
}

#product_shop_category .category {
    position: absolute;
    left: 5%;
    bottom: 3%;
    width: 90%;
    color: white;
    font-size: 0.65em;
    line-height: 1.5;
    padding: 0.5% 1%;
    margin-top: 2%;
    background-color: #30819c;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}



/* //! Popular Products */
#popular_product {
    width: 100%;
    padding: 0.5% 2% 2% 2%;
    margin: 0 auto;
    margin-bottom: 2.5%;
    font-size: 30px;
    background: linear-gradient(to left bottom, white, #ffdb99);
}

#popular_product>div {
    display: flex;
    align-items: center;
}

#popular_product div::-webkit-scrollbar {
    display: none;
}

#popular_product>p {
    color: #1e5162;
    font-weight: 500;
    margin: 1% 0;
    font-family: "Ubuntu", sans-serif;
}

#popular_product>div>img {
    border-radius: 50%;
}

#popular_product #products {
    display: flex;
    align-items: center;
    overflow: auto;
    border-radius: 7x;
    padding: 1%;
    margin-right: 5%;
    border: 3px solid white;
    border-radius: 5px;
}

#popular_product .box {
    padding: 1% 2%;
    margin: 0 1%;
    border: 3px solid #30819c;
    border-top: 7px solid #30819c;
    border-radius: 5px;
    background-color: white;
}

#popular_product .box>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 170px;
    height: 250px;
}

#popular_product .box img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#popular_product .box div {
    line-height: 1;
    width: 95%;
    margin: 0 auto;
}

#popular_product #name {
    margin: 0 auto;
    color: black;
    font-size: 0.55em;
    line-height: 1.25;
    margin-top: 2%;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#popular_product #price {
    color: gray;
    display: inline;
    font-size: 0.6em;
    text-decoration: line-through;
}

#popular_product #off_price {
    color: red;
    display: inline;
    font-size: 0.65em;
}

#popular_product .box a:last-of-type {
    width: 100%;
    height: fit-content;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 10%;
    display: block;
    font-size: 0.65em;
    padding: 0 2%;
    color: white;
    background-color: #30819c;
    border-radius: 2.5px;
    text-align: center;
}

@media (max-width: 1300px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
        grid-template-rows: 28rem 28rem;
    }
}

@media (max-width: 1230px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-template-rows: 25rem 25rem;
    }
}

@media (max-width: 1175px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        grid-template-rows: 25rem 25rem;
    }

    #product_shop_category .category {
        font-size: 0.6em;
    }
}

@media (max-width: 1100px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        grid-template-rows: 23rem 23rem;
    }

    #product_shop_category .box img {
        padding: 1rem;
    }

    #product_shop_category .category {
        font-size: 0.55em;
    }
}

@media (max-width: 985px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-template-rows: 20rem 20rem;
    }
}

@media (max-width: 885px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
        grid-template-rows: 18rem 18rem;
        padding: 1rem;
        margin-left: 2.5%;
    }
    
    #product_shop_category .box img {
        padding: 0.7rem;
    }
}
@media (max-width: 810px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
    }
}
@media (max-width: 770px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        grid-template-rows: 16rem 16rem;
    }
    #product_shop_category .box img {
        padding: 0.5rem;
    }
}
@media (max-width: 670px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        grid-template-rows: 14rem 14rem;
    }
    #product_shop_category .category {
        font-size: 0.45em;
    }
}
@media (max-width: 595px) {
    #product_shop_category img {
        display: none;
    }
    #product_shop_category #products {
        width: 100%;
        margin: 2rem auto;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        grid-template-rows: 16rem 16rem;
    }
}
@media (max-width: 468px) {
    #product_shop_category #products {
        grid-template-rows: 19rem 19rem 19rem;
    }
    #product_shop_category .category {
        font-size: 0.55em;
    }
}
@media (max-width: 400px) {
    #product_shop_category #products {
        grid-template-rows: 16rem 16rem 16rem;
    }
}
@media (max-width: 335px) {
    #product_shop_category #products {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        grid-template-rows: 14rem 14rem 14rem;
    }
}