#side_nav a {
    position: relative;
    color: #1e5162;
    width: 85%;
    display: block;
    padding: 2.5% 0 2.5% 5%;
    margin: 2.5% 5%;
    font-size: 1em;
    border-bottom: 1px solid;
    text-decoration: none;
}

#side_nav .count {
    font-size: 0.9em;
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    color: white;
    background-color: red;
    border-radius: 50%;
}

#side_nav a i {
    font-size: 0.9em;
    width: 12%;
}

#side_nav a:hover {
    border-radius: 5px;
    background-color: #d8ecf3;
}