* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
}

main img {
    width: 100%;
}

/* //! First Introduction Page */
#intro {
    width: 100%;
}

/* //! Policies */
#policies {
    width: 90%;
    padding: 3% 0;
    margin: 0 auto;
}

#policies>div {
    width: 95%;
    margin: 0 auto;
    padding-top: 2%;
    display: flex;
}
#policies a {
    margin-right: 5%;
    display: block;
    color: #2a7189;
    font-size: 0.7em;
    font-weight: 500;
    text-decoration: none;
}
#policies a div {
    width: 150px;
    height: 180px;
    box-shadow: 0px 0px 10px 1px gray;
}
#policies img {
    display: block;
    width: 80%;
    padding: 3%;
    margin: 0 auto;
}