* {
    margin: 0;
    padding: 0;
}

#main_footer {
    width: 100%;
    padding: 1% 0;
    font-size: 30px;
    background: linear-gradient(white, #76bdd5);
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

#main_footer>div {
    width: 85%;
    padding: 1%;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

/* //! Footer-1 */
/* First Company logo */
#company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 1.5%;
    margin: auto;
}



/* Footer-1 logo */
#company #logo {
    width: 20%;
}

#company #logo img {
    width: 100%;
}

#company #description {
    width: 75%;
    font-size: 0.7em;
    line-height: 1.5;
}

#company #description span {
    color: gray;
}


/* //! Footer-2 */
#footer2 {
    width: 100%;
    padding: 1%;
    padding-top: 3% !important;
}

#footer2 #all_links {
    display: flex;
    justify-content: space-evenly;
}

#footer2 #all_links>div {
    width: 100%;
}

#footer2 #all_links span, #footer2 #all_links a {
    color: black;
    display: block;
    text-decoration: none;
}

#footer2 #all_links span {
    font-size: 0.65em;
    font-weight: 600;
}

#footer2 #all_links a {
    font-size: 0.55em;
    font-weight: 400;
    line-height: 1.5;
}

#footer2 #all_links a:hover {
    color: #0000b3;
}

#footer2 #all_links a:first-of-type {
    margin-top: 5px;
}

#footer2 #office_address p {
    color: gray;
    font-size: 0.6em;
    margin-top: 5px;
}

#footer2 #cus_care {
    margin-top: 7%;
}

#footer2 #cus_care span {
    font-size: 0.85em;
    font-weight: 400;
}

#footer2 #cus_care p {
    color: red;
    font-size: 0.85em;
}



/* //! Footer-3 */
#footer3 {
    width: 95%;
    padding: 1%;
}

#payment span {
    display: block;
    font-size: 0.7em;
}

#payment {
    display: flex;
    align-items: center;
}

#payment img {
    width: 13%;
}

#payment #cash {
    width: 8%;
    transform: rotate(45deg);
}




/* //! Footer-4 */
#footer4 {
    width: 100%;
}

#footer4>div {
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

#footer4>div>div {
    width: 100%;
}

#footer4 #copy_right span {
    font-size: 0.7em;
}


/* //! Media Queries */
@media (max-width: 1200px) {
    #company #logo {
        width: 25%;
    }
    
    #company #description {
        width: 70%;
    }
}
@media (max-width: 1050px) {
    #company {
        width: 100%;
    }
    #company #logo {
        width: 30%;
    }
    
    #company #description {
        width: 65%;
    }
    #main_footer {
        font-size: 27px;
    }
}
@media (max-width: 900px) {
    #main_footer {
        font-size: 25px;
    }
}
@media (max-width: 850px) {
    #main_footer {
        font-size: 22px;
    }
    #payment img {
        width: 20%;
    }
    
    #payment #cash {
        width: 13%;
    }
}

@media (max-width: 690px) {
    #footer2 #cus_care span {
        font-size: 0.7em;
    }
    #footer2 #cus_care p {
        font-size: 0.7em;
    }
}
@media (max-width: 580px) {
    #footer2 #all_links {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        grid-template-rows: 14rem 17rem;
        gap: 1rem;
    }
    #footer2 #all_links>div:last-child {
        width: 32rem;
        display: flex;
    }
    #footer2 #all_links>div:last-child>div {
        width: 100%;
        margin: 0 1rem;
    }
}

@media (max-width: 535px) {
    #footer1 #company {
        display: block;
    }
    #footer1 #company #logo {
        width: 40%;
        margin: 0;
    }
    #footer1 #company #description {
        width: 100%;
        margin-top: 1.5rem;
    }
    #footer2 #all_links {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
}
@media (max-width: 470px) {
    #footer2 #all_links {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: 16rem 17rem;
    }
    #payment img {
        width: 25%;
    }
    
    #payment #cash {
        width: 16%;
    }
}
@media (max-width: 390px) {
    #footer2 #all_links {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-template-rows: 11rem 21rem;
    }
    #footer2 #all_links>div:last-child {
        width: 100%;
        display: block;
    }
    #footer2 #all_links>div:last-child>div {
        margin: 0;
    }
}

@media (max-width: 340px) {
    #main_footer {
        font-size: 20px;
    }
    #footer2 #all_links {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: 12rem 23rem;
    }
    #payment img {
        width: 35%;
    }
    #payment #cash {
        width: 20%;
    }
}
@media (max-width: 300px) {
    #main_footer {
        font-size: 18px;
    }
    #footer1 #company #logo {
        width: 50%;
    }
}
@media (max-width: 265px) {
    #main_footer {
        font-size: 15px;
    }
    #footer2 #all_links {
        grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
        grid-template-rows: 9rem 16rem;
    }
}