* {
    margin: 0;
    padding: 0;
}

/* //! Shop by category */
#medicine_shop_category {
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    margin-bottom: 2.5%;
    background: linear-gradient(white, #76bdd5);
}

#medicine_shop_category>div {
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 0.7em;
}

#medicine_shop_category>p {
    color: black;
    font-weight: 500;
    margin: 1% 0;
}

#medicine_shop_category img {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0.5px #f2f2f2;
}



/* //! Popular in picks */
#popular_picks {
    width: 100%;
    padding: 2% 0;
    margin-bottom: 2.5%;
    background: linear-gradient(#d6d6c2, rgba(242, 242, 242, 0.5));
}

#popular_picks p {
    color: black;
    font-weight: 500;
    padding: 0 2%;
}

#popular_picks #picks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 0.7em;
    padding: 0 2%;
}


/* Product Box */
#picks #box {
    text-align: center;
    padding: 2% 1% 4% 1%;
    border-radius: 8px;
    background-color: white !important;
}

#picks #box>a {
    text-decoration: none;
}

#popular_picks #product_img {
    position: relative;
}

#popular_picks img {
    width: 75%;
    padding: 3%;
}

/* Like btn */
#product_img .fa-heart {
    color: gray;
    position: absolute;
    right: 1.25rem;
    bottom: 1rem;
    font-size: 0.8em;
}

#product_img .fa-heart:hover {
    color: red !important;
}

/* Product Details */
#details {
    color: black;
    width: 90%;
    height: 125px;
    margin: 0 auto;
    text-align: left;
}

#details #name {
    font-size: 0.65em;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 3%;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#details #offer_price {
    font-size: 0.62em;
}

#details #price {
    color: gray;
    font-size: 0.6em;
    text-decoration: line-through;
}

#details #save {
    display: block;
    color: green;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 1;
}

/* Add to Cart btn */
#popular_picks #add_cart {
    display: block;
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: 0.65em;
    font-weight: 500;
    padding: 0.4% 0;
    border-radius: 3px;
    background-color: #30819c;
}

#popular_picks #add_cart i {
    font-size: 0.9em;
}


/* //! Order Description */
#order_description {
    padding: 3px 10px 10px 15px;
    background-color: rgba(242, 242, 242, 0.4);
}


/* //! Media Queries */
@media (max-width: 1250px) {
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
}
@media (max-width: 1000px) {
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
}
@media (max-width: 630px) {
    #medicine_shop_category {
        margin-bottom: 5%;
    }
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
    #popular_picks #details {
        height: 105px;
    }
    #add_cart {
        padding: 0.5% 0;
    }
}
@media (max-width: 400px) {
    #medicine_shop_category>div {
        gap: 1rem;
    }
    #medicine_shop_category img {
        border-radius: 5px;
    }
    #popular_picks #picks {
        gap: 1rem;
    }
    #picks #box {
        border-radius: 5px;
    }
    #popular_picks #details {
        height: 85px;
    }
}
@media (max-width: 370px) {
    #medicine_shop_category {
        padding: 4% 0;
    }
    #medicine_shop_category>p {
        margin-bottom: 3%;
    }
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }
    #popular_picks {
        padding: 5% 0;
        margin-bottom: 4%;
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }
}
@media (max-width: 300px) {
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
}
@media (max-width: 265px) {
    #medicine_shop_category>div {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
    #popular_picks #picks {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}