* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    font-size: 30px;
    padding: 5% 0;
    font-family: "Rubik", sans-serif;
}

/* //! Product Details */
/* Main Product container */
#product_container {
    width: 100%;
    height: 73.5vh;
    display: flex;
    padding: 0 7% 0 7%;
    overflow: auto;
}

#product_container::-webkit-scrollbar {
    display: none;
}

/* Image Slider Main Images */
#product_container #product_img {
    position: sticky;
    top: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
}

/* Image slider sub Images */
#sub_imgs {
    width: 25%;
    margin-right: 2%;
}

#sub_imgs {
    position: relative;
    overflow: hidden;
}

#sub_imgs #imgs {
    cursor: pointer;
}

#sub_imgs figure {
    height: 100%;
}

#sub_imgs button {
    position: absolute;
    width: 100%;
    height: fit-content;
    font-size: 0.8em;
    z-index: 2;
    border: none;
    background-color: transparent;
}

#sub_imgs #prev {
    top: 0;
}

#sub_imgs #next {
    bottom: 0;
}

#sub_imgs #img {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 5%;
    margin: 7px auto;
    border: 1.5px solid gray;
    border-radius: 5px;
}

#sub_imgs img {
    width: 90% !important;
    margin: 0 auto;
}

.active-sub-img {
    border: 3.5px solid #30819c !important;
}

/* Main Image of product */
#main_imgs {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 1.5%;
    margin: 0 2%;
    border: 1.5px solid gray;
    border-radius: 5px;
}

#main_imgs a {
    display: none;
    width: 94%;
    margin: 3% auto;
}

#main_imgs a img {
    width: 100%;
    border-radius: 0.1em;
}

#main_imgs a:first-child {
    display: block;
}

#main_imgs a:hover {
    filter: brightness(80%);
}

#main_imgs #discount {
    font-size: 0.6em;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 5%;
    color: white;
    background-color: red;
    border-radius: 50%;
}

#main_imgs #like {
    font-size: 0.97em;
    position: absolute;
    top: 7%;
    right: 5%;
    color: gray;
}

#main_imgs #like:hover {
    color: red;
}

#main_imgs #expiry {
    position: absolute;
    bottom: 0;
    right: 3%;
    color: #666666;
    font-size: 0.55em;
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Product Details */
#product_details {
    width: 100%;
    height: 100%;
    padding: 0 7% 0 2.5%;
    font-family: "Roboto Condensed", sans-serif;
}

#product_details #name {
    color: #1e5162;
    font-size: 0.95em;
    font-weight: 500 !important;
}

#product_details #definition {
    display: block;
    font-size: 0.7em !important;
    margin-bottom: 2%;
    text-align: justify;
}

#product_details #off_price {
    font-size: 0.9em;
    color: red;
}

#product_details #price {
    font-size: 0.7em;
    color: gray;
    text-decoration: line-through;
}

#product_details #available {
    display: block;
    color: green;
    font-size: 0.75em;
    font-weight: 600;
}

#product_details #not_available {
    display: block;
    color: red;
    font-size: 0.75em;
    font-weight: 600;
}

/* //* Buy & Add to cart btns */
#product_details #btns {
    width: 100%;
    display: flex;
    margin-top: 3.5%;
}

#product_details #btns a {
    width: fit-content;
    padding: 0.5% 4%;
    margin-right: 5%;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

#product_details #buy_btn {
    background-color: red;
}

#product_details #add_cart {
    background-color: #30819c;
}

#product_details #btns i {
    font-size: 0.95em;
}


/* //! Product Advance details in bottom */
#advance_details {
    width: 100%;
    background-color: rgba(242, 242, 242, 0.25);
    box-shadow: 0px 0px 5px 1px #f2f2f2;
    padding: 3% 5%;
    margin-top: 5%;
}

#advance_details>div {
    width: 90%;
    margin: 0 auto;
}

#advance_details #btns {
    border-bottom: 1.5px solid gray;
}

#advance_details #btns button {
    font-size: 0.55em;
    font-weight: 500;
    padding: 0.7% 3%;
    margin-right: 0.5%;
    border: 1.5px solid gray;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    background-color: white;
}

.clicked_btn {
    color: white;
    background-color: #30819c !important;
}

#advance_details #details {
    padding: 2% 1%;
}

#advance_details #details>div {
    display: none;
}

#advance_details #details hr {
    display: none;
}
#advance_details #details .responsive-head {
    display: none;
    font-size: 0.65em;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #30819c;
    border-radius: 3px;
}

#advance_details #details #description {
    display: block;
}

#details li {
    font-size: 0.6em;
    margin: 1% 0;
}

#details span {
    font-size: 0.6em;
    font-weight: 400;
    margin: 1% 0;
}

#details iframe {
    margin-top: 3.5%;
    border-radius: 10px;
}

#specification table {
    font-size: 0.65em;
    width: 100%;
}

#specification th {
    font-weight: 600;
}

#specification th,
#specification td {
    width: 50%;
    line-height: 2;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
}

#advance_details #description_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

#advance_details #description_img img {
    flex: 1;
    padding: 1%;
    margin: 1% 0.5%;
    border: 2px solid gray;
    border-radius: 5px;
}


@media (max-width: 1300px) {
    main {
        font-size: 28px;
        padding: 7% 0;
    }

    #product_container {
        height: 71.5vh;
    }

    #product_container #product_img {
        width: 65%;
    }

    #product_container #main_imgs {
        width: 100%;
    }

    #product_container #product_details {
        width: 50%;
        padding: 0 3.5% 0 1.5%;
    }
}

@media (max-width: 1150px) {
    main {
        font-size: 26px;
    }

    #product_container {
        padding: 0 5% 0 5%;
        height: 72vh;
    }

    #product_container #product_img {
        width: 75%;
    }

    #product_container #product_details {
        width: 50%;
        padding: 0 1.5%;
    }
}

@media (max-width: 1000px) {
    main {
        font-size: 24px;
    }

    #product_container {
        padding: 0 5% 0 5%;
        height: 74vh;
    }
}

@media (max-width: 850px) {
    main {
        font-size: 22px;
    }

    #product_container {
        padding: 0 5% 0 5%;
        height: 74vh;
    }

    #product_container #product_img {
        width: 85%;
    }

    #product_container #product_details {
        padding: 0 0.5% 0 1%;
    }
}

@media (max-width: 700px) {
    main {
        padding: 10% 0;
        font-size: 22px;
    }

    #product_container {
        display: block;
        width: 90%;
        height: fit-content;
        padding: 0;
        margin: auto;
    }

    #product_container #product_img {
        position: relative;
        width: 95%;
        margin: auto;
    }

    #product_container #product_details {
        width: 95%;
        margin: auto;
        margin-top: 7.5%;
        padding: 0 0.5% 0 1%;
    }

    #advance_details {
        margin-top: 8%;
    }

    #advance_details #btns {
        display: none;
    }

    #advance_details #details>div {
        display: block;
        margin-bottom: 12%;
    }

    #advance_details #details hr {
        display: block;
    }
    #advance_details #details .responsive-head {
        display: block;
    }
}

@media (max-width: 500px) {
    main {
        font-size: 20px;
    }

    #main_imgs {
        border-radius: 3px;
    }

    #sub_imgs #img {
        border-radius: 3px;
    }

    .active-sub-img {
        border: 2.5px solid #30819c !important;
    }
}

@media (max-width: 350px) {
    main {
        font-size: 18px;
    }
    #advance_details #details .responsive-head {
        padding: 0.2rem 1rem;
    }
}

@media (max-width: 270px) {
    main {
        font-size: 16px;
    }
}