* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

main {
    width: 100%;
    padding: 6% 0;
    font-size: 28px;
    background-color: #f2f2f2
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Forget Password Form Main */
#main_form {
    display: flex;
    margin: auto;
    width: 70%;
    padding: 1rem 0;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

#main_form>div {
    width: 100%;
    position: relative;
    font-family: "Mukta", sans-serif;
}

/* //! Left Image */
.left_img {
    width: 100%;
    padding: 2%;
}

.left_img img {
    width: 100%;
}


/* //! Main Form */
/* Form Error */
#form_error,
#form_succ {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    padding: 1.5%;
    font-size: 0.6em;
    animation: slide 0.3s linear;
}

@keyframes slide {
    from {
        top: -8%;
    }

    to {
        top: 0;
    }
}

#form_error {
    background-color: #ef000f;
}

#form_succ {
    background-color: #04aa6d;
}


#form_error i {
    margin: 0 2%;
}


/* //! Forget password Form */
#forgot_pass_form {
    padding: 2%;
}
#forgot_pass_form span {
    display: block;
}
#forgot_pass_form #heading {
    color: black;
    font-size: 0.9em;
    font-weight: 600;
}
#forgot_pass_form #definition {
    color: gray;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.5% 0;
}

#forgot_pass_form form {
    padding: 2% 0;
}
#forgot_pass_form label {
    color: #2a7189;
    display: block;
    font-size: 0.7em;
    margin-top: 5%;
    line-height: 1;
}
#forgot_pass_form input {
    width: 100%;
    padding: 1% 2%;
    font-size: 0.65em;
    border: 1px solid gray;
    outline: none;
    border-bottom: 3px solid gray;
    border-radius: 3px;
}
#forgot_pass_form input[name="otp"] {
    width: 50%;
}

/* //! Form Buttons */
#forgot_pass_form .btns {
    padding: 3% 0;
}
#forgot_pass_form input[type="submit"], #forgot_pass_form input[type="reset"] {
    font-size: 0.65em;
    color: white;
    width: fit-content;
    padding: 0.2% 4%;
    margin-right: 1.5%;
    border: none;
    background-color: black;
}


/* //! Media Queries */
@media (max-width: 1100px) {
    main {
        padding: 8% 0;
        font-size: 26px;
    }
    #main_form {
        width: 75%;
    }
}
@media (max-width: 950px) {
    #main_form {
        width: 85%;
    }
}
@media (max-width: 850px) {
    #main_form {
        width: 95%;
        box-shadow: 0px 0px 3px 2px #f2f2f2;
        border-radius: 6px;
    }
}
@media (max-width: 700px) {
    main {
        font-size: 23px;
    }
}
@media (max-width: 550px) {
    main {
        font-size: 21px;
        background-color: white;
    }
    #main_form {
        width: 100%;
        margin-top: 5%;
        box-shadow: none;
        border-radius: none;
    }
}
@media (max-width: 450px) {
    main {
        font-size: 24px;
    }
    #main_form {
        display: block;
        width: 85%;
        margin: auto;
    }
}
@media (max-width: 350px) {
    main {
        font-size: 21px;
    }
}