* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    font-size: 30px;
    padding: 5% 0;
    background-color: #f2f2f2;
    font-family: "Rubik", sans-serif;
}

.buy_now_main {
    width: 70%;
    padding: 2% 5%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

/*! Selected Products */
.buy_now_main .products {
    display: flex;
    flex-wrap: wrap;
}

.buy_now_main .card {
    position: relative;
    width: 22%;
    margin: 1%;
    padding: 0 1%;
    border: 0.5px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

.buy_now_main .remove_btn {
    color: gray;
    position: absolute;
    top: 2%;
    right: 6%;
    font-size: 0.55em;
    border: 0;
    background-color: transparent;
}

.buy_now_main .remove_btn:hover {
    color: black;
}

.buy_now_main .card a {
    color: black;
    width: 100%;
    text-decoration: none;
}

.buy_now_main .card img {
    display: block;
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}

.buy_now_main .card .card-title {
    font-size: 0.55em;
}

.buy_now_main .card .card-text {
    line-height: 1;
}

.buy_now_main .card .off_price {
    color: red;
    font-size: 0.6em;
}
.buy_now_main .card .price {
    color: gray;
    font-size: 0.6em;
    text-decoration: line-through;
}
.buy_now_main .card label {
    color: gray;
    font-size: 0.45em;
    margin-left: 1%;
}
.buy_now_main .card input {
    width: 40%;
    font-size: 0.5em;
}
.buy_now_main .card .not-available {
    color: red;
    font-size: 0.5em;
}


/*! User details form */
.buy_now_main form {
    margin-top: 7%;
}

.buy_now_main .sub-head {
    color: #30819c;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 3%;
}

.buy_now_main .form-label {
    font-size: 0.6em;
}

.buy_now_main .form-control, .buy_now_main .form-select {
    font-size: 0.5em;
}

.buy_now_main .purchase {
    display: none;
    width: 100%;
    font-size: 0.6em;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #30819c;
    margin-top: -5px;
}
.buy_now_main .purchase:hover {
    background-color: #2a7189;
}
.buy_now_main .pay_btn {
    display: none;
    font-size: 0.55em;
    color: white;
    border: none;
    border-radius: 1px;
    background-color: #30819c;
    margin-top: -5px;
}