* {
    margin: 0;
    padding: 0;
}

main {
    font-size: 30px;
    width: 100%;
    padding: 5% 0;
}

/* //! Top Image slider */
#top_img {
    width: 90%;
    height: 25vw;
    display: flex;
    margin: 1.5% auto;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #f2f2f2;
}

#top_img>div {
    width: 100%;
    height: 100%;
}

#top_img>div:first-child {
    background-color: white;
}

#top_img>div img {
    height: 100%;
    display: block;
    margin: auto;
}



/* //! Imgslider right text */
#top_img #right_text {
    padding: 5%;
    height: 100%;
    font-weight: 600;
}

#top_img #right_text p {
    font-family: "Rubik", sans-serif;
}

#top_img #right_text p:first-child {
    color: green;
    font-size: 0.65em;
}

#top_img #right_text p:last-of-type {
    font-size: 0.55em;
    font-weight: 400;
}

#top_img #right_text a {
    display: block;
    width: fit-content;
    color: black;
    font-size: 0.9em;
    padding: 0 3%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
}




/* //* Define Features div */
#define_policies {
    display: flex;
    width: 85%;
    margin: 2% auto;
    background-color: rgba(230, 254, 245, 0.7);
    border: 1px solid #049560;
    border-radius: 10px;
}

#define_policies>div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
}

#define_policies>div span {
    display: block;
    font-size: 0.57em;
}

#define_policies>div span:first-child {
    color: #049560;
    font-weight: 700;
}

#define_policies>div span:last-child {
    font-size: 0.5em;
    font-weight: 500;
}

#define_policies>div i {
    color: #049560;
    font-weight: 600;
    margin-right: 7%;
}


/* //! Main Products Div */
#main_products {
    position: relative;
    width: 90%;
    margin: 2% auto;
    margin-top: 5%;
}

#main_products .responsive-opacity {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    z-index: 1;
    opacity: 0.5;
    background-color: black;
}

#main_products #heading {
    text-align: center;
}

#main_products h1 {
    font-size: 1.2em;
}

#main_products #heading p {
    color: gray;
    font-size: 0.65em;
    font-weight: 600;
}


/* //* Sort Products */
#main_products #sort_products {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
}

#sort_products div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
}

#sort_products span {
    font-size: 0.75em;
}

#sort_products div button {
    color: #ff0000;
    height: fit-content;
    font-size: 0.55em;
    padding: 0.2% 3%;
    background-color: #ffe6e6;
    border: 1px solid #ff3333;
    border-radius: 3px;
}

.select-category {
    display: none;
    position: absolute;
    right: 1.5%;
    bottom: 0;
    padding: 0.3rem 0 0.3rem 3rem;
    font-size: 0.6em;
    font-weight: 700;
    border: 2px solid #dddcdc;
    border-radius: 5px;
}

/* //! Categories & Products */
#main_products #cat_products {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

/* //! Categories */
#category_main {
    width: 22%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}

#category_main #cat_head {
    padding: 15% 3% 3% 3%;
    color: white;
    background-color: #ff3333;
}

#category_main #cat_head h1 {
    font-size: 1em;
    text-align: center;
}

#category_main #categories {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: rgba(235, 246, 249, 0.4);
}

#categories>div:first-child {
    max-height: 300px;
    overflow: auto;
}

#category_main #categories button {
    width: 100%;
    color: black;
    display: block;
    font-size: 0.65em;
    padding: 3% 0;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
}

/* //* Price range below categories */
#price_range,
#discount_range {
    position: relative;
    width: 85%;
    height: 75px;
    margin: 5% auto;
}

#price_range span,
#discount_range span {
    color: #2a7189;
    font-size: 0.8em;
    font-weight: 600;
}

input[type="range"] {
    accent-color: red;
}

output {
    font-size: 0.6em;
    position: absolute;
    font-weight: 600;
}

#min_price,
#min_discount {
    left: 0;
}

#max_price,
#max_discount {
    right: 0;
}

/* //! Products */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 1.5rem;
    width: 78%;
    height: fit-content;
    padding: 1% 2% 1% 5%;
    overflow: auto;
}

#products #box {
    height: 30rem;
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
}

#products #box:hover {
    scale: 1.02;
    box-shadow: 0px 0px 5px 1px gray;
}

#box a {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}

/* //* Product Image */
#products #product_img {
    position: relative;
    width: 100%;
    min-height: 12rem;
}

#products #product_img span {
    position: absolute;
    top: 2%;
    left: 1%;
    color: red;
    font-size: 0.6em;
    font-weight: 600;
    z-index: 1;
}

#products #product_img img {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* //* Product Details */
#products #product_details {
    padding: 0 5%;
}

#products #product_details span {
    display: block;
    line-height: 1.3;
}

#product_details #name {
    font-size: 0.55em;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#product_details #price {
    display: inline !important;
    color: gray;
    font-size: 0.6em;
    text-decoration: line-through;
}

#product_details #off_price {
    display: inline !important;
    color: red;
    font-size: 0.6em;
}

#products #add_cart {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
    color: #2a7189;
    display: block;
    width: 90%;
    font-size: 0.6em;
    border: 2px solid #30819c;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
}

/* //! Person search pr & if pr not found*/
#pr_not_found {
    display: block;
    width: 60%;
    height: 55%;
    margin: 1% auto;
}


/* //! Media Queries */
@media (max-width: 1300px) {
    #sort_products div {
        width: 50%;
    }

    #products {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }

    #products #box {
        height: 27rem;
    }

    #products #add_cart {
        font-size: 0.55em;
    }
}

@media (max-width: 1120px) {
    main {
        font-size: 28px;
    }

    #define_policies {
        width: 90%;
    }

    #products {
        height: 100%;
    }

    #products #box {
        height: 26rem;
    }

    #category_main {
        width: 40%;
        z-index: 2;
    }

    #category_main #categories {
        background-color: #f2f2f2;
    }

    #products {
        width: 95%;
    }
}

@media (max-width: 1020px) {
    main {
        font-size: 26px;
    }

    #top_img {
        width: 95%;
        height: 27vw;
    }

    #top_img #right_text {
        padding: 3%;
    }

    #top_img #right_text a {
        font-size: 0.7em;
    }

    #sort_products div {
        width: 60%;
    }

    #products {
        width: 100%;
        padding: 1rem 2rem;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    }

    #products #box {
        height: 32rem;
    }

    #products #product_img {
        min-height: 18rem;
    }

    #products #box #name {
        font-size: 0.65em;
        font-weight: 500;
    }

    #products #box #price {
        font-size: 0.6em;
        font-weight: 500;
        line-height: 1.7;
    }

    #products #box #off_price {
        font-size: 0.7em;
        font-weight: 500;
        line-height: 1.7;
    }

    #products #box #add_cart {
        font-size: 0.6em;
        font-weight: 500;
    }
}

@media (max-width: 920px) {
    #main_products #category_main {
        display: none;
    }

    #main_products #sort_products {
        height: 120px;
    }

    .select-category {
        display: inline-block;
    }

    #sort_products div {
        width: 70%;
    }

    #main_products {
        height: fit-content;
    }

    #main_products #cat_products {
        height: fit-content;
    }

    #products {
        height: fit-content;
    }
}

@media (max-width: 750px) {
    main {
        font-size: 23px;
    }

    #top_img {
        height: 35vw;
    }

    #top_img>div {
        padding: 0;
    }

    #define_policies {
        width: 95%;
        border-radius: 5px;
    }

    #define_policies>div {
        padding: 1% 1.5%;
    }

    #products {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    #products #box {
        height: 27rem;
    }

    #products #product_img {
        min-height: 14rem;
    }
}

@media (max-width: 650px) {
    #products {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    #sort_products div {
        width: 75%;
    }

    #products #box {
        height: 26rem;
    }

    #products #product_img {
        min-height: 12rem;
    }
}

@media (max-width: 570px) {
    main {
        padding: 9% 0;
        font-size: 21px;
    }

    #top_img {
        height: 42vw;
    }

    #top_img #left_img {
        display: grid;
        place-items: center;
        background-color: white;
    }

    #top_img #left_img img {
        width: 100%;
        height: auto;
    }

    #sort_products div {
        width: 80%;
    }

    #define_policies {
        margin-top: 5%;
    }

    #define_policies>div {
        padding: 1% 0.2%;
    }

    #main_products {
        width: 95%;
    }

    #main_products #category_main {
        width: 50%;
    }

    #products {
        padding: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        gap: 0.9rem;
    }

    #products #box {
        height: 23rem;
    }

    #products #product_img {
        min-height: 10rem;
    }
}

@media (max-width: 450px) {
    main {
        font-size: 18px;
    }

    #top_img {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #top_img img {
        display: block;
        width: 30%;
        margin: auto;
    }

    #main_products #sort_products {
        height: 100px;
    }

    #sort_products div {
        width: 95%;
    }

    #products {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }

    #products #box {
        height: 22rem;
    }

    #products #product_img {
        min-height: 8rem;
    }

    #products #box #add_cart {
        font-size: 0.7em;
    }
}

@media (max-width: 370px) {
    main {
        font-size: 16px;
    }

    #main_products #sort_products {
        height: 80px;
    }

    #sort_products div {
        width: 98.5%;
    }

    #define_policies>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }

    #products #box {
        height: 20rem;
    }

    #products #product_img {
        min-height: 11rem;
    }
}

@media (max-width: 300px) {
    main {
        font-size: 13px;
    }
    #products #box {
        height: 17rem;
    }
    #products #product_img {
        min-height: 9rem;
    }
}

@media (max-width: 265px) {
    #products {
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    }
}