* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

main {
    font-size: 28px;
    width: 100%;
    padding: 6% 0;
    background-color: #f2f2f2;
}

/* signUp and Login Forms */
.regi_form {
    display: flex;
    margin: auto;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.regi_form span {
    display: block;
}

.regi_form>div {
    padding: 2%;
    width: 100%;
    position: relative;
    font-family: "Mukta", sans-serif;
}


/* //! Left Image */
.left_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left_img img {
    display: block;
    width: 90%;
    margin: auto;
    padding: 2%;
}


/* //! Main Form */
/* Form Error */
#form_error,
#form_succ {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    padding: 1.5%;
    margin-bottom: 2%;
    font-size: 0.6em;
    animation: slide 0.3s linear;
}

@keyframes slide {
    from {
        top: -8%;
    }

    to {
        top: 0;
    }
}

#form_error {
    background-color: #ef000f;
}

#form_succ {
    background-color: #04aa6d;
}


#form_error i {
    margin: 0 2%;
}

.regi_form .heading {
    color: #30819c;
    font-size: 1em;
    font-weight: 600;
}

.regi_form .description {
    color: gray;
    font-size: 0.6em;
    margin-top: 2%;
}

.regi_form form {
    margin-top: 7%;
}

.regi_form #sign_form form {
    margin-bottom: 13%;
}

.regi_form #login_form form {
    margin-bottom: 10%;
}

/* //! Input types */
.regi_form label {
    color: #30819c;
    display: block;
    font-size: 0.65em;
    font-weight: 600;
    margin-top: 3%;
}

.regi_form input,
.regi_form .row {
    width: 90%;
    padding: 1% 0;
}

.regi_form .row input {
    width: 100%;
    padding: 0;
}

.regi_form input {
    font-size: 0.65em;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.pass_div {
    position: relative;
}

.pass_div i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(0, -50%);
    color: #0000b3;
    font-size: 0.6em;
    padding: 1%;
    border-radius: 50%;
}

.pass_div i:hover {
    background-color: #f2f2f2;
}

#pass_des {
    color: green;
    font-size: 0.55em;
}

.regi_form input::placeholder,
.regi_form textarea::placeholder {
    font-size: 0.9em;
}

.regi_form input:focus {
    border-bottom: 2px solid gray;
}

#forget_pass_link {
    font-size: 0.6em;
}


.regi_form .btns {
    position: absolute;
    bottom: 3%;
    width: 100%;
}

.regi_form .btns input {
    color: white;
    background-color: #30819c;
    width: fit-content;
    padding: 0.3% 5%;
    font-size: 0.65em;
    border-radius: 3.5px;
}

.btns a {
    font-size: 0.65em;
}



/* //! Media Queries */
@media (max-width: 1100px) {
    main {
        padding: 8% 0;
        font-size: 26px;
    }

    .regi_form {
        width: 85%;
    }
}

@media (max-width: 950px) {
    .regi_form {
        width: 95%;
    }
}

@media (max-width: 850px) {
    .regi_form {
        box-shadow: 0px 0px 3px 2px #f2f2f2;
        border-radius: 6px;
    }
}

@media (max-width: 730px) {
    main {
        margin: 0;
    }

    .regi_form {
        width: 100%;
    }

    .regi_form>div {
        width: 100%;
        padding: 2% 0;
    }
}

@media (max-width: 650px) {
    .regi_form {
        display: block;
        width: 85%;
        margin: auto;
        padding: 3% 5%;
    }

    .regi_form input,
    .regi_form .row {
        width: 100%;
    }
    .pass_div i {
        right: 0;
    }
    #pass_des {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .regi_form {
        width: 90%;
    }
}

@media (max-width: 450px) {
    main {
        font-size: 24px;
        background-color: white;
    }

    .regi_form {
        width: 100%;
        padding: 3% 7%;
        box-shadow: none;
        border: none;
    }

    .regi_form form {
        padding-bottom: 5%;
    }

    .regi_form .btns input {
        border-radius: 1.5px;
    }
}

@media (max-width: 350px) {
    main {
        font-size: 22px;
    }

    .regi_form .col-md-6 {
        width: 100%;
        padding-right: 0;
    }

    .regi_form .btns {
        position: relative;
        margin-top: 5%;
    }

    .regi_form .btns input {
        margin: 5% 3% 0 0;
    }

    .regi_form a {
        display: block;
        margin-top: 2%;
    }
}