* {
    margin: 0;
    padding: 0;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #c4e3ed;
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

nav #logo {
    font-size: 0.9em;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 2px 1.5px 0px white;
    margin-left: 2%;
}

nav #logo span {
    color: #0000b3;
}

#login_btns {
    width: 15%;
    margin-right: 2%;
}

#login_btns i {
    font-size: 0.73em;
}

#login_btns a {
    color: #0000b3;
    font-size: 0.8em;
    margin: 0 4%;
    text-decoration: none;
}


/* //!Nav - 2 */
#nav2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    font-size: 25px;
    background-color: rgba(242, 242, 242, 0.5);
}

/* Nav2 btns */
#nav2_btns {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin-right: 3%;
}

.btn {
    width: 100%;
    position: relative !important;
}

.btn>a {
    display: block;
    color: #0000b3;
    font-size: 0.9em;
    text-decoration: none;
}

.btn>a+div {
    width: fit-content;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 0;
}

.btn>a:hover+div {
    display: block !important;
}

.btn>a+div:hover {
    display: block;
}

#nav2_btns i {
    font-size: 0.85em;
}

/* Nav2 search box */
#search_box {
    position: relative;
    width: 35%;
    margin-right: 3%;
}

#search_box input {
    outline: none;
    border: none;
    border-bottom: 2.5px solid;
    width: 100%;
    padding: 0 2% 1.5% 0.5%;
    font-size: 0.8em;
    background-color: transparent;
}

#search_box i {
    position: absolute;
    top: 50%;
    right: -3%;
    padding: 2%;
    font-size: 0.75em;
    transform: translate(0, -60%);
    border-radius: 50%;
}

#search_box i:hover {
    background-color: rgba(0, 0, 0, 0.1);
}