@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: gray;
}

body::-webkit-scrollbar-track {
    background: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 15px;
}

.brightness {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    filter: brightness(30%);
    z-index: 2;
    background-color: white;
}

#top_load {
    display: none;
    position: fixed;
    top: 0;
    height: 5px;
    background-color: red;
    z-index: 10;
}

.header-hidden {
    transform: translateY(-53.5%);
    transition: transform 0.3s ease;
}

/* Visible state */
.header-visible {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#main_nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 5px 1.5px gray;
}

#fake_main_nav {
    height: 100px;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #30819c;
    font-size: 27px;
}


#nav1 #logo {
    width: 17rem;
    font-size: 0.95em;
    font-weight: 600;
    margin-left: 2%;
    background-color: white;
    border-radius: 25px;
}

#nav1 #logo>img {
    width: 100%;
}


/* //! Login Btns */

#login_btns {
    width: 28rem;
}

#login_btns i {
    font-size: 0.7em;
}

#login_btns a {
    color: white;
    font-size: 0.8em;
    margin: 0 4%;
    text-decoration: none;
}

#login_btns a:hover {
    color: #bfbfbf;
}

#logout_btns {
    color: white;
    display: flex;
    position: relative;
    width: fit-content;
    margin-right: 2%;
}

#logout_btns a {
    display: none;
    color: black;
    position: absolute;
    top: 100%;
    left: -150%;
    padding: 3% 50%;
    z-index: 5;
    font-size: 0.6em;
    background-color: white;
    text-decoration: none;
    border-radius: 2.5px;
}

#logout_btns i {
    margin: 0 2.5%;
    font-size: 0.65em;
}

#logout_btns:hover>a {
    display: block;
}

#logout_btns>a:hover {
    background-color: #f2f2f2;
}


/* //!Nav - 2 */
#nav2 {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 20px;
    background-color: white;
    filter: brightness(99%);
}


/* Nav2 menu btn */
#menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 15%;
    margin-left: 1%;
    cursor: pointer;
}

#menu i {
    padding: 0.7rem;
    border-radius: 0.65rem;
}

#menu i:hover {
    background-color: #e6e6e6;
}


/* Nav2 btns */
#nav2_btns {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin: 0 6rem;
    flex: 4;
}

.btn {
    width: 100%;
    position: relative !important;
}

.btn>a {
    display: block;
    margin: 0 1.5rem;
    padding: 5% 0;
    color: #1e5162;
    font-size: 1.75em;
    font-weight: 500;
    text-decoration: none;
}

.btn>a:hover {
    text-decoration: none;
}

/* Categories below menu-btns */
.btn>a+div {
    width: fit-content;
    position: absolute;
    display: none;
    top: 90%;
    left: 0;
    z-index: 5;
    text-align: left;
}

/* When hover on link, then display categories */
.btn>a:hover+div {
    display: block !important;
}

.btn>a+div:hover {
    display: block;
}

#nav2_btns i {
    font-size: 1em;
}


/** Nav2 search box */
#search_box {
    position: relative;
    margin-right: 3%;
    flex: 6;
}

#search_box input {
    outline: none;
    border: none;
    border-bottom: 2.5px solid;
    width: 100%;
    padding: 0 2% 1.5% 0.5%;
    font-size: 0.8em;
    background-color: transparent;
}

#search_box button {
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: -1%;
    font-size: 0.75em;
    transform: translate(0, -50%);
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

#search_box button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Searched Items */
#searched_items {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 300px;
    background-color: white;
    border-radius: 0 0 7px 7px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 2px #d9d9d9;
}
#searched_items::-webkit-scrollbar {
    width: 3.5px;
    background-color: gray;
}

#searched_items::-webkit-scrollbar-track {
    background: #f2f2f2;
}
#searched_items::-webkit-scrollbar-thumb {
    background-color: gray;
}

#searched_items #new_items {
    width: 100%;
    display: block;
    line-height: 2;
}

#searched_items a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0.5% 3%;
    color: black;
    font-size: 0.7em;
    text-decoration: none;
    border-bottom: 1px solid #d9d9d9;
}

#new_items a .search-img {
    display: block;
    width: 70px;
    height: 100%;
}
#new_items  a .search-name {
    display: block;
    width: 90%;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#new_items .search-img img {
    width: auto;
    height: 100%;
    padding: 0.5%;
    mix-blend-mode: multiply;
}


#searched_items #new_items a:hover {
    background-color: #f2f2f2;
}


/** Cart Btn */
#nav2 .cart-btn {
    line-height: 1;
    padding: 0.9%;
    position: relative;
    color: black;
    margin-right: 1.5%;
    font-size: 0.8em;
    background-color: #f2f2f2;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#nav2 .cart-btn:hover {
    background-color: #d9d9d9;
}

#nav2 .cart-btn span {
    position: absolute;
    top: -10%;
    right: -6%;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    background-color: red;
    border-radius: 50%;
    transition: all 1s ease;
}

#nav2 .cart-btn:hover span {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
}


/* //! Side nav */
#side_nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 270px;
    padding-bottom: 1rem;
    background-color: white;
    font-size: 20px;
    border-right: 3px solid #f2f2f2;
    z-index: 4;
    transition: all 0.4s linear;
}

#side_nav ::-webkit-scrollbar {
    width: 3.5px;
    background-color: gray;
}

#side_nav ::-webkit-scrollbar-track {
    background: #f2f2f2;
}
#side_nav ::-webkit-scrollbar-thumb {
    background-color: gray;
}

#side_nav div:first-of-type {
    display: flex;
    align-items: end;
    width: 100%;
    height: 25%;
    background-color: #76bdd5;
}

#side_nav #menus {
    height: 460px;
    overflow-y: auto;
}

/* //! Meta AI Btn */
.meta-ai-btn {
    position: fixed;
    bottom: 2.5%;
    right: 1%;
    font-size: 18px;
    font-weight: 500;
    padding: 0.8rem 2rem;
    border: none;
    background-color: white;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 0px 0px 6px 3px #b3b3b3;
    z-index: 9999;
}

.meta-ai-btn:hover {
    scale: 1.02;
    box-shadow: 0px 0px 8px 3px #b3b3b3;
}

.meta-ai-btn img {
    filter: contrast(150%);
    width: 35px;
    margin-right: 3px;
    animation: rotate 1.7s infinite both linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* //! Media Queries */
@media (max-width: 1300px) {
    #nav2_btns {
        margin: 0 2rem;
    }
    .btn>a {
        margin: 0 1rem;
    }
}
@media (max-width: 950px) {
    #nav1 {
        height: 70px;
        font-size: 28px;
    }

    #nav2 {
        font-size: 23px;
        height: 60px;
        justify-content: space-between;
    }

    #nav2_btns {
        display: none;
    }
    #menu {
        margin-left: 2rem;
    }
    #search_box {
        flex: 2;
    }
    #searched_items a {
        height: 50px;
    }
    #new_items a .search-img {
        width: 60px;
    }
}

@media (max-width: 768px) {
    #nav1 {
        font-size: 26px;
    }

    #nav1 #logo {
        width: 15rem;
    }

    #nav2 {
        font-size: 21px;
    }

    #login_btns {
        width: 22rem;
    }

    #nav2 .cart-btn span {
        width: 15px;
        height: 15px;
    }
    #searched_items {
        max-height: 250px;
    }
    #searched_items a {
        height: 40px;
    }
    #new_items a .search-img {
        width: 50px;
    }
}

@media (max-width: 580px) {
    body::-webkit-scrollbar {
        width: 3px;
    }
    #nav1 {
        font-size: 24px;
    }
    #nav2 {
        font-size: 19px;
    }
    #searched_items {
        max-height: 200px;
    }
    #searched_items a {
        height: 30px;
    }
    #new_items a .search-img {
        width: 40px;
    }
    #nav2 .cart-btn {
        padding: 1.5%;
    }
    .meta-ai-btn {
        font-size: 18px;
        padding: 0.6rem 1.5rem;
        box-shadow: 0px 0px 5px 2px #b3b3b3;
        border-radius: 14px 4px 14px 4px;
    }
    .meta-ai-btn img {
        width: 30px;
    }
}


@media (max-width: 450px) {
    #nav1 {
        height: 60px;
    }

    #login_btns {
        width: 20rem;
    }

    #nav1 #logo {
        width: 12rem;
    }

    #nav2 {
        height: 50px;
    }
    #nav2 #menu {
        margin-left: 1.5%;
    }
    #menu i {
        border-radius: 0.5rem;
    }
    #search_box {
        flex: 5;
    }
    #searched_items {
        max-height: 150px;
    }
    #search_box button {
        width: 30px;
        height: 30px;
    }
    #search_box input {
        border-bottom: 2px solid;
    }

    #nav2 .cart-btn span {
        top: -16%;
        right: -10%;
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 420px) {
    #nav1 {
        font-size: 17px;
    }
    #nav2 {
        font-size: 17px;
    }
    #top_load {
        height: 3px;
    }
    #search_box button {
        width: 25px;
        height: 25px;
    }
    #search_box input {
        border-bottom: 1.5px solid;
    }

    #side_nav {
        width: 70%;
        font-size: 15px;
    }
}

@media (max-width: 370px) {
    body::-webkit-scrollbar {
        display: none;
    }
    #nav1 {
        font-size: 15px;
    }

    #nav1 #logo {
        width: 11rem;
    }

    #login_btns {
        width: 14rem;
    }

    #login_btns a {
        margin: 0;
        padding: 0;
    }

    #nav2 {
        font-size: 15px;
    }
    #menu i {
        padding: 0.4rem;
        border-radius: 0.3rem;
    }
    #searched_items {
        max-height: 100px;
    }
    #searched_items a {
        height: 20px;
    }
    #new_items a .search-img {
        width: 30px;
    }
    #search_box button {
        width: 20px;
        height: 20px;
    }
    #search_box input {
        border-bottom: 1px solid;
    }
    #side_nav {
        width: 80%;
        font-size: 13px;
    }
    .meta-ai-btn {
        font-size: 16px;
        padding: 0.4rem 1rem;
    }
    .meta-ai-btn img {
        width: 20px;
    }
}

@media (max-width: 265px) {
    #fake_main_nav {
        height: 85px;
    }

    #nav1 {
        font-size: 13px;
        height: 45px;
    }

    #nav1 #logo {
        width: 9rem;
    }

    #login_btns {
        width: 12rem;
    }

    #nav2 {
        font-size: 13px;
        height: 40px;
    }
    #search_box button {
        width: 15px;
        height: 15px;
    }

    #nav2 .cart-btn span {
        top: -25%;
        right: -15%;
        width: 10px;
        height: 10px;
    }
    #side_nav {
        width: 100%;
    }
    #side_nav div:first-of-type {
        height: 15%;
    }

    #side_nav #menus {
        height: 100%;
    }
}